<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand h1 me-5 mb-0 app-primary-color" href="">
        BookKeepr
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="" routerLinkActive="app-secondary-color fw-medium" [routerLinkActiveOptions]="{ exact: true }">
              Home
            </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/books" routerLinkActive="app-secondary-color fw-medium">
              My Books
            </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/add-book" routerLinkActive="app-secondary-color fw-medium">
              Add Book
            </a>
          </li>
  
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link text-warning fw-bold" routerLink="/admin" routerLinkActive="app-secondary-color fw-medium">
              Admin Panel
            </a>
          </li>
        </ul>
  
        <div class="d-flex align-items-center">
          <ng-container *ngIf="username; else loggedOut">
            <div class="app-primary-color fw-medium">{{ username }}</div>
            <div ngbDropdown class="ms-3">
              <span role="button" class="arrow" id="dropdownBasic1" ngbDropdownToggle></span>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-end">
                <button ngbDropdownItem (click)="logout()">Logout</button>
              </div>
            </div>
          </ng-container>
  
          <ng-template #loggedOut>
            <a class="nav-link app-primary-color fw-medium" routerLink="/login">
              Login
            </a>
          </ng-template>
        </div>
      </div>
    </div>
  </nav>
  
  <main class="main d-flex flex-column flex-fill">
    <router-outlet></router-outlet>
  </main>